default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  url: <%= ENV.fetch("DATABASE_URL") { "postgres://localhost/backend_development" } %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
